.dm {
    margin-bottom: 10px;
    color: #C70;
    font-size: 24px;

    .menu-tree {
        font-size: 18px;
        line-height: 2em;

        .hover-text {
            position: relative;
        }

        .hover-text::after {
            position: absolute;
            left: 0;
            content: attr(data-text); 
            width: 100%;
            height: 1.5px;
            bottom: -0.5px;       
            opacity: 0; 
            z-index: -1;
            color: brown;
            transform: translateY(-10px); 
            transition: opacity 0.3s ease; 
            font-size: 24px;
            visibility: visible;
        }
        
        .hover-text:hover::after {
            opacity: 1; 
            transform: translateY(0);
        }
       
    }

}